---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import LastBlogs from '../components/LastBlogs.astro';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

type Props = CollectionEntry<'blogEs'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang={lang}>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article class="container w-11/12 mx-auto mb-10">
				<div class="">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" class="block mx-auto my-5 max-h-[550px] object-cover" />}
				</div>
				<div class="container w-11/12 max-w-[1100px] mx-auto">
					<div class="title text-center max-w-[900px] mx-auto">
						<div class="">
							<!--<FormattedDate date={pubDate} />-->
							{
								updatedDate && (
									<div class="last-updated-on text-xl">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="text-5xl font-semibold">{title}</h1>
						<hr />
					</div>
					<div class="py-5">
						<slot/>
					</div>
					<LastBlogs  />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
